  body{
    background-color: rgb(166, 125, 204);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
      }
      
    .header{
    display: flex;
    flex-direction: row;
    /* background-color: #9175dd; */
    align-items: center;
}
      .portfolio{
        color: aliceblue;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    align-items: center
      }
    .portfolio img {
        
        margin-right: 10px;
        margin-left : 20px;
        height: 50px; 
        width: 50px;
        border-radius: 50%;
    }
    .portfolio:hover {
        text-decoration:underline;}


.home{
   
    flex: 1;
    text-align: end;
    margin-right: 30px;
    font-size: larger;
}
 ul,li{
    display: flex;
    justify-content: flex-end;
}
li{
    margin: 18px;
}
a{
    color: white;
    font-size: 18px;
    font-weight: bold;
   
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* about section */

.aboutme{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.about-img img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
